.dateHeader{
  padding: 30px 30px;
  width: 100vw;
  
  text-align: right;
  font-weight: 700;
  font-size: 40px;
  font-family: Montserrat;
  white-space: pre-wrap;
}

.titleMessage {
  padding-left: 30px;
  
  font-weight: 700;
  font-size: 30px;
}